body{
	font-family: arial;
	background-color: #DCDCDC;
}
/*phandau
==================================================*/
#phandau{
	height: 150px;
	width: 100%;
}
#phandau1{
	width: 100%;
	height: 300px;
}
#phandau2{
	width: 100%;
	height: 20%;
}
#phandau3{
	width: 100%;
	height: 55px;
	float: left;
	background-color: #136ABF;
	
}
#chinhA{
	float:left;
	padding:11px;
	color: aliceblue;
}
b a{
	color: aliceblue;
}
#logo{
	width: 35%;
	height: 100px;
	float: left;
}
#logo1{
	border-radius: 0px;
}
#input901{
	width: 65%;
	height: 100px;
	float: right;
}
#input902{
	float: right;
	padding: 1em;
}
#kateam{
	width: 35%;
	height: 60px;
	float: left;
}
#link{
	text-decoration: none;
	width: 65%;
	height: 60px;
	float: right;
	
}
.bogachchan{
	text-decoration: none;
	font-size:22px;
	padding:10px;
}
.button1{
	background-color: #136ABF;
	color: aliceblue;
	padding: 1em;
	font-weight: bolder;
}
/*NOI DUNG
======================================*/
#noidung{
	width: 100%;
	height: 1350px;
}
#phantrai{
	float:left;
	width: 70%;
	height: 700px;
}
#phantrai1{
	width: 100%;
	height: 400px;
}
img{
	border-radius: 50px;
}
#phangiua{
	float:left;
	width:5%;
	height: 700px;
}
#phanphai{
	float: right;
	width: 25%;
	height: 700px;
}
#hinh{
	width: 100%;
	height: 150px;
	float: left;
	background-color: #E3E3E3	;
	border-radius: 50px;
		
}
.img1{
	width: 19%;
	height: auto;
	padding: 22px;	
	transition: width 0.5s,height 0.5s;
}
.img1:hover{
	width: 22%;
	height: auto;
}
.img2{
	width: 60%;
	height: auto;
	padding: 22px;	
	transition: width 0.5s,height 0.5s;
}
.img2:hover{
	width: 65%;
	height: auto;
}
.linklq{
	padding-bottom: 20px;
	font-size:20px;
	line-height:50px;
	text-decoration: none;
	transition: font-size 0.5s;
	
}
.linklq:hover{
	font-size:22px;
}
#banner1{
	width: 70%;
	height: 120px;
	float:left;
	border-radius:20px;"
}
.bannerimg{
	width:90%;
	height:auto;
	transition: width 0.4s,height 0.4s;
}
.bannerimg:hover{
	width:95%;
	height:auto;
}
/*PHAN CUOI
======================================*/
#phancuoi{
	height: 130px;
}

